.json-display {
    text-align: left;
    white-space: pre-wrap;
    font-family: monospace;
}
    
.json-key {
    color: #a52a2a;
}
    
.json-string {
    color: #028900;
}
    
.json-value {
    color: #0000ff;
}

.json-entry {
    margin-left: 20px;
}
