.bg-get {
    background-color: rgba(0, 200, 219, 1);
    color: white;
    padding: 5px;
    margin-right: 15px;
}

.bg-post {
    background-color: rgba(28,184,65,1);
    color: white;
    padding: 5px;
    margin-right: 15px;
}