@import "../../../style/variables.scss";

.contact {
    text-align: start;
    padding: 0.8rem;
    background-color: $background-color;

    h1 {    
        font-weight: lighter;
        font-size: 2.5rem;

        padding: 10px;
    }

    .contact-info {
        i, h3, .email, .time {
            color: $main-color;
        }

        .time {
            margin-bottom: 0;
        }
    }

    .map-section {
        .map {
            iframe {
                border-radius: 14px;
            }
        }

        button {
            width: 100%;
        }
    }

}