@import "../../../style/variables.scss";

.home {
    text-align: start;
    padding: 0.8rem;
    background-color: $background-color;

    h1 {    
        font-weight: lighter;
        font-size: 2.5rem;

        padding: 10px;
    }  

    h2 {
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .row {
        margin: 0 15px;
        .home-column-block {
            border-radius: 12px;
            background-color: white;
            padding: 15px;
        }

        h2 {
            margin-bottom: 50%;
        }

        p {
            font-weight: lighter;
            a {
                margin-left: 12px;
                text-decoration: none;
                color: $main-color;
            }
        }
    }

    ul.custom-checklist {
        list-style: none;
        padding-left: 0;

        li {
            padding-left: 1.5em;
            position: relative;

            &::before {
                content: "\f058";
                color: $main-color;
                font-family: "Font Awesome 5 Free";
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 900;
            }
        }
    }

    
}


